<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>{{ category.name }}</tr>
                <tr>{{ category.receipts.all|length }}</tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>